:root {
    --background: #ffe6d1;
    --contrasting: #4f4f4f;
    --white: #ffffff;
    --black: #4f4f4f;
    --primary: #5c7aff;
    --complementary: #cfd3ff;
}

@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

%font-space-mono {
    font-family: 'Space Mono', monospace;
    font-smooth: antialiased;
}

%font-normal {
    @extend %font-space-mono;
    font-weight: 400;
    font-style: normal;
}

%font-italic {
    @extend %font-space-mono;
    font-weight: 400;
    font-style: italic;
}

%font-bold {
    @extend %font-space-mono;
    font-weight: 700;
    font-style: normal;
}

%font-bold-italic {
    @extend %font-space-mono;
    font-weight: 700;
    font-style: italic;
}
