:root {
    // Page background color
    --background: #454A91;
    // Complement to the background color
    --complementary: #cfd3ff;
    // Color used for text on background
    --contrasting: #4f4f4f;
    // Color used for box shadow
    --shadow: #4f4f4f;

    // Constants
    // White
    --white: #f1f1f1;
    // Black
    --black: #2d2d2d;
    // Primary (links)
    --primary: #5c7aff;
}

$mobile: 700px;

@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

%font-space-mono {
    font-family: 'Space Mono', monospace;
    font-smooth: antialiased;
}

%font-rye {
    font-family: 'Rye', sans-serif;
    font-smooth: antialiased;
}

%font-normal {
    @extend %font-space-mono;
    font-weight: 400;
    font-style: normal;
}

%font-italic {
    @extend %font-space-mono;
    font-weight: 400;
    font-style: italic;
}

%font-bold {
    @extend %font-space-mono;
    font-weight: 700;
    font-style: normal;
}

%font-bold-italic {
    @extend %font-space-mono;
    font-weight: 700;
    font-style: italic;
}

%font-inter {
    font-family: 'Inter', sans-serif;
}

@mixin responsive ($property, $onDesktop, $onMobile) {
    #{$property}: $onDesktop;

    @media (max-width: $mobile) {
        #{$property}: $onMobile;
    }
}
