.card {
    background: var(--white);
    width: 50rem;
    height: 22rem;
    box-shadow: 6px 6px 0 var(--black),
                6px 8px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: stretch;

    .image__container {
        background: var(--complementary);
        height: 100%;
        flex-grow: 0;

        .image {
            display: block;
            height: 100%;
            mix-blend-mode: multiply;
            filter: grayscale(100%);
        }
    }

    .card__inner {
        padding: 1rem;
        padding-top: 0;
        flex-grow: 1;

        .card__title {
            @extend %font-bold-italic;
            font-size: 3.5rem;
            line-height: 1.5;

            margin-bottom: 1rem;
        }

        .card__content {
            @extend %font-normal;

            p:not(:last-of-type) {
                margin-bottom: 0.75rem;
            }

            a {
                @extend %font-bold;
                color: var(--primary);
                text-decoration: none;

                &:hover {
                    @extend %font-bold-italic;
                }
            }
        }
    }
}
