$mobile: 700px;

.card {
    background: var(--white);
    width: 95%;
    height: 95%;
    max-width: 50rem;
    max-height: 22rem;
    box-shadow: 6px 6px 0 var(--black),
                6px 8px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: stretch;

    @media (max-width: $mobile) {
        flex-direction: column;
        max-width: 90%;
        max-height: 60%;
    }

    .image__container {
        background: var(--complementary);
        height: 100%;
        flex-grow: 0;

        @media (max-width: $mobile) {
            height: auto;
            width: 100%;
        }

        .image {
            display: block;
            mix-blend-mode: multiply;
            filter: grayscale(100%);

            &.desktop {
                height: 100%;

                @media (max-width: $mobile) {
                    display: none;
                }
            }

            &.mobile {
                width: 100%;

                @media (min-width: $mobile + 1) {
                    display: none;
                }
            }
        }
    }

    .card__inner {
        padding: 1rem;
        padding-top: 0;
        flex-grow: 1;

        .card__title {
            @extend %font-bold-italic;
            font-size: 3.5rem;
            line-height: 1.5;
            margin-bottom: 1rem;
            whitespace: nowrap;

            @media (max-width: $mobile) {
                font-size: 2.5rem;
                margin-bottom: 0.3rem;
            }
        }

        .card__content {
            @extend %font-normal;

            p:not(:last-of-type) {
                margin-bottom: 0.75rem;
            }

            a {
                @extend %font-bold;
                color: var(--primary);
                text-decoration: none;

                &:hover {
                    @extend %font-bold-italic;
                }
            }
        }
    }
}
