@import url(https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i);@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;

900&display=swap);:root {
  --background: #454A91;
  --complementary: #cfd3ff;
  --contrasting: #4f4f4f;
  --shadow: #4f4f4f;
  --white: #f1f1f1;
  --black: #2d2d2d;
  --primary: #5c7aff;
}

.album__container .album__title,
.album__container .album .album__info .album__artist,
.album__container .album .album__info .album__name,
.card .card__inner .card__content a,
.album__container .album .album__info .album__song,
.card .card__inner .card__content a:hover {
  font-family: 'Space Mono', monospace;
  font-smooth: antialiased;
}

.album__container .album__title,
.album__container .album .album__info .album__artist {
  font-weight: 400;
  font-style: normal;
}

.album__container .album .album__info .album__name {
  font-weight: 400;
  font-style: italic;
}

.card .card__inner .card__content a,
.album__container .album .album__info .album__song {
  font-weight: 700;
  font-style: normal;
}

.card .card__inner .card__content a:hover {
  font-weight: 700;
  font-style: italic;
}

.card .card__inner .card__title,
.card .card__inner .card__content {
  font-family: 'Inter', sans-serif;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
  color: var(--black);
  overflow: hidden;
}

body {
  background: var(--background);
  -webkit-transition: background .2s;
  transition: background .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

*::-moz-selection {
  background: var(--complementary);
  color: var(--contrasting);
}

*::selection {
  background: var(--complementary);
  color: var(--contrasting);
}

*::-moz-selection {
  backgorund: var(--complementary);
  color: var(--contrasting);
}

.card {
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  z-index: 2;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}

@media (max-width: 700px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: auto;
    max-width: 90%;
    max-height: 80%;
    margin: 2em;
  }
}

.card .image__container {
  background: var(--complementary);
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  position: relative;
}

@media (max-width: 700px) {
  .card .image__container {
    height: auto;
    width: 100%;
  }
}

.card .image__container .image {
  height: 100%;
  display: block;
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.card .image__container .image img {
  display: block;
  width: auto;
  height: 100%;
}

@media (max-width: 700px) {
  .card .image__container .image img {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .card .image__container .image img {
    height: auto;
  }
}

.card .card__inner {
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card .card__inner .card__title {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: -2px;
  white-space: nowrap;
  font-size: 3.5rem;
}

@media (max-width: 700px) {
  .card .card__inner .card__title {
    font-size: 2.5rem;
  }
}

.card .card__inner .card__content {
  font-weight: 400;
}

.card .card__inner .card__content p {
  line-height: 1;
  letter-spacing: -1px;
  font-size: 1.25rem;
}

.card .card__inner .card__content p:not(:last-of-type) {
  margin-bottom: 0.75rem;
}

.card .card__inner .card__content a {
  color: var(--primary);
  text-decoration: none;
}

.heart-animation {
  -webkit-animation: wobble .4s ease 0s 1 normal none;
  animation: wobble .4s ease 0s 1 normal none;
}

/* Copy this @keyframes block to your CSS*/

@-webkit-keyframes wobble {
  0% {

  }

  100% {

  }

  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  70% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes wobble {
  0% {

  }

  100% {

  }

  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  70% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

.album__container {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  color: var(--contrasting);
}

@media (max-width: 700px) {
  .album__container {
    top: auto;
    bottom: 0;
    padding: 0.75rem;
    margin-bottom: -0.5rem;
  }
}

.album__container .album__title {
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
}

@media (max-width: 700px) {
  .album__container .album__title {
    font-size: 0.65rem;
  }
}

.album__container .album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album__container .album .album__art__container {
  width: 5em;
}

@media (max-width: 700px) {
  .album__container .album .album__art__container {
    width: 3.5em;
  }
}

.album__container .album .album__art__container .album__art {
  display: block;
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}

.album__container .album .album__info {
  display: inline-block;
  padding-left: 1rem;
  line-height: 1.5;
  font-size: 0.85rem;
}

@media (max-width: 700px) {
  .album__container .album .album__info {
    font-size: 0.75rem;
  }
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.image-background__image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-size: 100% 100%;
  -webkit-filter: blur(50px) brightness(0.7);
          filter: blur(50px) brightness(0.7);
}

